In [15]:
# !pip install feather-format
import pyarrow.feather as feather
titanic_train = feather.read_feather('titanic_train.feather')
titanic_train.head()

,grupo,id,HomePlanet,CryoSleep,deck,room_num,side,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,fname,lname,Transported,gastos
0,1.0,1.0,Europa,False,B,0.0,P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham,Ofracculy,False,0.0
1,2.0,1.0,Earth,False,F,0.0,S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna,Vines,True,736.0
2,3.0,1.0,Europa,False,A,0.0,S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark,Susent,False,10383.0
3,3.0,2.0,Europa,False,A,0.0,S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam,Susent,False,5176.0
4,4.0,1.0,Earth,False,F,1.0,S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy,Santantines,True,1091.0